extends layout

block layout-content
  div.View
    h1.Banner Smart City
    
    div.Message
      div.Title
        h2 We are Making the Best
        h1 City For Our Peoples
      span.Details Access the Smart City Team Portal 
    div.NavButtons
      a(href="/login")
          div.NavButton Login