doctype html
html(lang="en")
  head
    
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href="/lgon.css")
    title Login Form In Pug
  body
    #main
     form(action="#")
       div.label login form
       div.username
        input(type="text" placeholder="username")
       div.password
        input(type="password" placeholder="password")

       button(type="button") login
